You are agreeing to help these people deliver
<br><br>
<center><strong><%= requestItem.food %></strong> to <strong><%= requestItem.destination %></strong></center>

<div class="container">
  <form action=<%= "/voiddeck/help/" + requestItem._id + "?_method=PUT" %> method="POST">


    <br>The collection time range of the members is from:

    <br><br>
    <center>
      <%= requestItem.collectionStartDate %><strong> <%= requestItem.collectionStartHour %></strong>:<strong><%= requestItem.collectionStartMin %> </strong>
      to <%= requestItem.collectionEndDate %><strong> <%= requestItem.collectionEndHour %></strong>:<strong><%= requestItem.collectionEndMin %> </strong>
    </center>

    <br>
    Please state the delivery time range convenient for you. It has to be <strong>equal</strong> or <strong>within</strong> the current collection time range.
    <br>

      <div class="modal-body row">
        <div class="form-group col-md-4">
          <label for="deliveryStartDate">From (Day):</label>
          <input class="form-control" type="date" value="<%= requestItem.collectionStartDate %>" id="deliveryStartDate" name="deliveryStartDate">
        </div>
        <div class="form-group col-md-2">
          <label for="deliveryStartHour">From (Hour):</label>
          <input class="form-control" type="number" min="0" max="23" value="<%= requestItem.collectionStartHour %>" id="deliveryStartHour" name="deliveryStartHour">
        </div>
        <div class="form-group col-md-2">
          <label for="deliveryStartMin">From (Min):</label>
          <input class="form-control" type="number" min="0" max="59"  value="<%= requestItem.collectionStartMin %>" id="deliveryStartMin" name="deliveryStartMin">
        </div>
      </div>

    <div class="modal-body row">
      <div class="form-group col-md-4">
        <label for="deliveryEndDate">To (Day):</label>
        <input class="form-control" type="date" value="<%= requestItem.collectionEndDate %>" id="deliveryEndDate" name="deliveryEndDate">
      </div>
      <div class="form-group col-md-2">
        <label for="deliveryEndTime">To (Hour):</label>
        <input class="form-control" type="number" min="0" max="23" value="<%= requestItem.collectionEndHour %>" id="deliveryEndHour" name="deliveryEndHour">
      </div>
      <div class="form-group col-md-2">
        <label for="deliveryEndMin">To (Min):</label>
        <input class="form-control" type="number" min="0" max="59" value="<%= requestItem.collectionEndMin %>" id="deliveryEndMin" name="deliveryEndMin">
      </div>
    </div>

    <center><button type="submit" class="btn btn-default">Submit</button></center>
    <br>




  </form>


</div>
