<div class="container">

  <h2 class="page-header">Requests you accepted:</h2>

  <ul class="list-group">

    <% user.requestsAccepted.forEach(function(request) { %>
    <li class="list-group-item">

      Help me buy: <strong><%= request.food %></strong><br>
      Destination: <strong><%= request.destination %></strong><br>
      I can collect from <strong><%= request.collectionFrom %></strong> to
                         <strong><%= request.collectionTo %></strong><br>

      <!-- <% if (!request.helper) { %>
        click <a href="/voiddeck/requests/<%= request._id %>/edit">me</a> to edit request
        or here to delete.
      <% } %>
      <% if (request.helper) { %>
        delivery in progress!<br>
        click here to confirm delivery!
      <% } %> -->
    </li>


    <% })%>

  </ul>
