
  <h2>Your requests:</h2>

  <ul class="list-group">

    <% user.requestsMade.forEach(function(request) { %>
    <li class="list-group-item">

      Help me buy: <strong><%= request.food %></strong><br>
      Destination: <strong><%= request.destination %></strong><br>
      I can collect from <strong><%= request.collectionFrom %></strong> to
                         <strong><%= request.collectionTo %></strong><br>

      <% if (!request.helper) { %>
        <form method="GET" action="/voiddeck/requests/<%= request._id %>/edit">
          <button type="submit">Edit Request</button>
        </form>
        <!-- click <a href="/voiddeck/requests/<%= request._id %>/edit">me</a> to edit request
        or here to delete. -->
        <form action="/voiddeck/requests/<%= request._id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">Delete Request</button>
        </form>
      <% } %>
      <% if (request.helper) { %>
        delivery in progress!<br>
        click here to confirm delivery!
      <% } %>
    </li>


    <% })%>

  </ul>
