<div class="container">

  <h2 class="page-header">All requests:</h2>

  <ul class="list-group">

    <% requests.forEach(function(request) { %>
    <li class="list-group-item">

      Help me buy: <strong><%= request.food %></strong><br>
      Destination: <strong><%= request.destination %></strong><br>
      I can collect from <%= request.collectionStartDate %> <strong><%= request.collectionStartHour %>:<%= request.collectionStartMin %></strong> to
                         <%= request.collectionEndDate %> <strong><%= request.collectionEndHour %>:<%= request.collectionEndMin %></strong><br>

      <% if (request.author.equals(currentUser._id)) { %>
        click <a href="/voiddeck/requests/<%= request._id %>/edit">me</a> to edit request
      <% } %>
    </li>


    <% })%>

  </ul>





</div>
