<div>
  Ongoing deliveries you are helping:

  <% if (result.activeAcceptedRequests.length === 0) { %>
    You do not have any delivery requests to fulfill, click here to see who's hungry!
  <% } else { %>
    <div class="list-group">
        <% result.activeAcceptedRequests.forEach(function(request) { %>
        <div class="list-group-item request-container">

          <div class="request-container-left">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>Help me buy:</th>
                  <th><strong><%= request.food %></strong></th>
                </tr>
                <tr>
                  <th>Destination:</th>
                  <th><strong><%= request.destination %></strong></th>
                </tr>
                <tr>
                  <th>Collection time from</th>
                  <th><strong><%= request.collectionFrom %></strong> to
                                     <strong><%= request.collectionTo %></strong></th>
                </tr>
                <tr>
                  <th>Reward:</th>
                  <th><strong><%= request.tokens %></strong> token(s)</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <% }) %>
    </div>
  <% } %>

  <h2>Active delivery requests you have made:</h2>

  <% if (result.activeRequestsMade.length === 0) { %>
    You do not have any active delivery requests, click here to make one!
  <% } else { %>
    <div class="list-group">
        <% result.activeRequestsMade.forEach(function(request) { %>
        <div class="list-group-item request-container">

          <div class="request-container-left">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>Help me buy:</th>
                  <th><strong><%= request.food %></strong></th>
                </tr>
                <tr>
                  <th>Destination:</th>
                  <th><strong><%= request.destination %></strong></th>
                </tr>
                <tr>
                  <th>Collection time from</th>
                  <th><strong><%= request.collectionFrom %></strong> to
                                     <strong><%= request.collectionTo %></strong></th>
                </tr>
                <tr>
                  <th>Reward:</th>
                  <th><strong><%= request.tokens %></strong> token(s)</th>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="request-container-right">
            <% if (!request.helper) { %>
              <form method="GET" action="/voiddeck/requests/<%= request._id %>/edit">
                <button type="submit" class="btn btn-primary">Edit Request</button>
              </form><br>
              <!-- click <a href="/voiddeck/requests/<%= request._id %>/edit">me</a> to edit request
              or here to delete. -->
              <form action="/voiddeck/requests/<%= request._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Delete Request</button>
              </form>
            <% } %>
            <% if (request.helper) { %>
              delivery in progress!<br>
              click here to confirm delivery!
            <% } %>
          </div>
        </div>
        <% }) %>
    </div>
  <% } %>

  <% if (result.expiredRequestsMade.length > 0) { %>
  <h2>Expired delivery requests you have made:</h2>

    <div class="list-group">
        <% result.expiredRequestsMade.forEach(function(request) { %>
        <div class="list-group-item request-container">

          <div class="request-container-left">
            Help me buy: <strong><%= request.food %></strong><br>
            Destination: <strong><%= request.destination %></strong><br>
            Collection time from <strong><%= request.collectionFrom %></strong> to
                               <strong><%= request.collectionTo %></strong><br>
            Reward: <strong><%= request.tokens %> token(s)</strong>
          </div>
          <div class="request-container-right">

              <!-- click <a href="/voiddeck/requests/<%= request._id %>/edit">me</a> to edit request
              or here to delete. -->
              <form action="/voiddeck/requests/<%= request._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Delete and Retrieve Tokens</button>
              </form>

          </div>
        </div>
        <% }) %>
    </div>
  <% } %>
</div>
