

<a href="/">Your TODOs: </a>

<ul>
    <% something.forEach(function(element) { %>
      <li>Name of todo: <%= element.name %>, Description: <%= element.description %>, Status of completion: <%= element.completed %>
        <form method="POST" action="/todos/<%= element._id %>?_method=DELETE">
          <button type="submit">Delete resource</button>
        </form>
        <form method="GET" action="/todos/<%= element._id %>/edit">
          <button type="submit">Edit this</button>
        </form>
      </li>

    <% }); %>
    </ul>
